* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0B2434;
  padding: 10px;
  font-family: 'Karla', sans-serif;
}

main {
 display: flex;
 flex-direction: column;
 gap: 20px;
 align-items: center;
 margin-top: 30px;
 width: 100%; /* Make responsive */ 
 background: #F5F5F5;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
 border-radius: 10px;
}

.title {
  font-size: 30px;
  margin: 5px;
  margin-bottom: -5px;
}

.instructions {
  font-family: 'Sans', sans-serif;
  font-size: 10px;
  font-weight: 500;
  margin: 10px;
  text-align: center;
}

.dice--container {
  display: grid;
  grid-template: auto auto / repeat(5, 1fr); /*Modify 1fr for bigger screens*/
  gap: 20px;
  max-width: 40%;

  align-items: center;
  justify-content: center;
  padding: auto;
}


.die--box {
  width: 40px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dice--image {
  width: 38px;
  border-radius: 5px;
  border: 2px solid black;
}

.die--value {
font-family: 'Karla';
font-style: normal;
font-weight: 700;
font-size: 2.2rem;
line-height: 1em;
text-align: center;
color: #2B283A;
cursor: pointer;
}

.roll--btn {
  border:none;
  width: 10%;
  height: 10%;
  background: #5035FF;
  box-shadow: 0px 4.8px 9px rgba(0, 0, 0, 0.18);
  border-radius: 6px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  cursor:pointer;
  margin-bottom: 10px;
}

.roll--.roll--btn{
  outline: none;
}

.roll--btn:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}


@media screen and (max-width: 756px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 11%;
    align-items: center;
    width: 90vw;
    height: 60vh;
    margin-top: 50px;
   }

   .title {
    font-size: 60px;
    margin-top: 10px;
  }
  
  .instructions {
    font-family: 'Sans', sans-serif;
    font-size: 22px;
    font-weight: 500;
    margin-top: -10px;
    margin-bottom: -5px;
    text-align: center;
  }

   .dice--container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr); /*Modify 1fr for bigger screens*/ /*Media querry for the other problem*/
    gap: 10%;
    width: 100vw;
    align-items: center;
    justify-content: center;
  }
  
  .die--box {
    width: 55px;
    height: 55px;
  }

  .dice--image {
    width: 51px;
    border-radius: 5px;
  }


  .roll--btn {
    margin-top: 30px;
    width: 100px;
    font-size: 1rem;
    line-height: 50px;
    
  }
 
}

